{{#with (changeset formValues) as |changeset|}}


  {{#bs-modal closeButton false modal3 true onSubmit=(action "updateQuantity" changeset) as |modal|}}
    {{#modal.header}}
      <h4 class="modal-title">{{model.name}}</h4>
    {{/modal.header}}

    {{#modal.body}}
      <div class="progress">
        <div class="progress-bar" role="progressbar" style="{{calc-percent model.quantity model.remaining}}" aria-valuenow="{{calc-percent model.quantity model.remaining}}"></div>
      </div>
      <p>How many used?</p>
      <pre>{{changeset.quantity}}</pre>


      {{input type="range" placeholder="0" name="" value=changeset.quantity min="0" max="10"}}

    {{/modal.body}}

    {{#modal.footer}}
      {{#link-to 'dashboard.inventory.index'}}
        {{#bs-button}}Cancel{{/bs-button}}
      {{/link-to}}
      {{#bs-button type="success" onClick=(action modal.submit)}}Submit{{/bs-button}}

    {{/modal.footer}}

  {{/bs-modal}}
{{/with}}
