<div class="row">
  <div class="col-md-12"><!-- USERS LIST -->
    <div class="box box-danger">
      <div class="box-header with-border">
        <h3 class="box-title">Crew Members for {{model.objective}}</h3>


      </div>
      <!-- /.box-header -->
      <div class="box-body no-padding">
        <ul class="users-list clearfix">
          {{#each model.crew as |crewMember|}}
            <li>
              <img src="http://www.placecera.com/80/80" alt="User Image">
              {{#link-to "dashboard.mission.detail.crew.member" crewMember class="users-list-name"}}
                {{crewMember.firstName}}
                {{crewMember.lastName}}
              {{/link-to}}
              <span class="users-list-date">{{crewMember.role}}</span>
            </li>
          {{/each}}
        </ul>
        <!-- /.users-list -->
      </div>
      <!-- /.box-body -->
      <div class="box-footer text-center">
        <a href="javascript:void(0)" class="btn btn-warning btn-sm">View All Users</a>
        {{#link-to "dashboard.mission.detail.crew.new" class="btn btn-danger btn-sm"}}Add New User{{/link-to}}
      </div>
      <!-- /.box-footer -->
    </div>
    <!--/.box --></div>
</div>
{{outlet}}
