<div class="form-container">
<div class="lightblack">
  <form class="missions-form form-horizontal" {{action "saveMission" on="submit"}}>

    <div class="row">
      <div class="col-sm-5">
        <div class="form-group">
          {{input class="form-control input-lg" type="text" value=formValues.objective placeholder="Mission Objective"}}
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-3">
        <div class="form-group">
            {{input class="form-control input-lg" type="text" value=formValues.location placeholder="Final Destination"}}
        </div>
      </div>
      <div class="col-sm-2">
        <div class="form-group">
            {{input class="form-control input-lg" type="text" value=formValues.hostCountry placeholder="Host Country"}}
        </div>
      </div>
    </div>

      <div class="row">
        <div class="col-sm-2">
          <div class="form-group">
              {{input class="form-control input-lg" type="date" value=formValues.launchTime placeholder="Launch Time"}}
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group">
              {{input class="form-control input-lg" type="text" value=formValues.duration placeholder="Duration of Trip"}}
          </div>
        </div>
      </div>
    </form>
  </div>

  <div>
    <div>
      {{#link-to "mission.index" class="btn btn-grey btn-arrow-left"}}Back{{/link-to}}
      <button class="btn btn-orange" type="submit" name="button">Save Mission</button>
    </div>
  </div>

</div>
