<form class="missions-form" {{action "saveMission" on="submit"}}>
  <p>
    {{input type="text" value=formValues.objective placeholder="Objective"}}
  </p>
  <p>
    {{input type="text" value=formValues.location placeholder="Location"}}
  </p>
  <p>
    {{input type="datetime-local" value=formValues.launchTime placeholder="Launch Time"}}
  </p>
  <p>
    {{input type="text" value=formValues.duration placeholder="Duration"}}
  </p>
  <p>
    {{input type="text" value=formValues.hostCountry placeholder="Host Country"}}
  </p>

  <p>
    {{#link-to "mission.index" class="button"}}Back{{/link-to}}
    <button type="submit" name="button">Save Mission</button>
  </p>

</form>
