{{#link-to "dashboard.mission.create"}}Add Mission{{/link-to}}

{{#each model as |mission|}}
  <li>
    {{mission.objective}} {{mission.location}} {{mission.launchTime}} {{mission.duration}} {{mission.hostCountry}}

    {{#link-to "dashboard.mission.edit" mission}}Edit{{/link-to}}

    <button {{action "deleteMission" mission}}>Delete</button>
    </li>
{{/each}}
